/*--------------------------- Cosmic Tab ---------------------------*/

.cosmic_page .card {
    border-color: #eee;
    max-width: 100%;
}

.cosmic_settings_page .cosmic_settings_page_nav .bs-tab-wrapper {
    border-color: #eee;
    padding-top: 0;
}

.cosmic_settings_page .cosmic_settings_page_nav .bs-tab-wrapper a.bs-tab-active {
    border-color: #7f54b3;
    border-bottom-color: #ffffff;
    color: #000000 !important;
    border-width: 2px 2px 0px 2px !important;
    border-radius: 5px 5px 0px 0px;
    background-color: #ffffff;
}

.cosmic_settings_page_nav .bs-tab-wrapper {
    border-bottom: 0 !important;
}

.cosmic_settings_page .cosmic_settings_page_nav .bs-tab-wrapper a {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 0px;
    margin-right: 5px;
    outline: none;
    box-shadow: none;
    border-bottom: 2px;
    border-style: solid;
    border-image: initial;
    padding: 10px 20px;
    background-color: #e6e6e6;
    border-width: 0px;
    border-radius: 5px 5px 0px 0px;
}

.bs-tab-wrapper {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0;
    margin: 0 0 15px 0;
    border: none !important;
    font-weight: 600;
}

.bs-tab-wrapper .bs-tab {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 8px 15px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}

.cosmic_settings_page .cosmic_settings_page_content {
    border-width: 0 1px 1px 1px;
    border-color: #eee;
    background-color: #fff;
    display: inline-block;
    width: 100%;
    margin: 0;
}

.cosmic_settings_page .cosmic_settings_page_content table tr.heading {
    border-bottom: 1px dashed #eeeeee;
}

.cosmic_settings_page .cosmic_settings_page_content table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: unset;
}

.cosmic_settings_page .cosmic_settings_page_content table tr th,
.cosmic_settings_page .cosmic_settings_page_content table tr td {
    padding: 15px 20px;
    border-bottom: 1px dashed #eee;
}

.cosmic_settings_page .cosmic_settings_page_content table tr.submit p {
    margin: 0;
    padding: 0;
}


.cosmic_settings_page .cosmic_settings_page_content table .bs_select select,
.cosmic_settings_page .cosmic_settings_page_content table .bs-text-field input[type="text"],
.cosmic_settings_page .cosmic_settings_page_content table .bs_number_field input[type="number"],
.cosmic_settings_page .cosmic_settings_page_content table .bs-time-input-group input[type="number"] {
    min-width: 350px;
    padding: 3px 10px;
    border-radius: 2px;
}

.cosmic_settings_page .cosmic_settings_page_content table .heading th {
    border-left: 2px solid black;
    font-size: 16px;
    padding: 12px 20px;
}

/*--------------------------- End Cosmic Tab ---------------------------*/
