/*--------------------------- Switch Field ---------------------------*/

.gtbs_switch_field {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 44px;
    height: 24px;
}
  
.gtbs_switch_field input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}
  
.gtbs_switch_field label {
    background-color: #e2e8f0;
    border-radius: 30px;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}
  
.gtbs_switch_icon {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease;
    z-index: 2;
}
  
.gtbs_switch_icon svg {
    width: 12px;
    height: 12px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}
  
.gtbs_switch_icon .gtbs_icon_on {
    display: none;
}
  
.gtbs_switch_icon .gtbs_icon_off {
    display: block;
    fill: #64748b;
    stroke-width: 2px;
    stroke: #64748b;
}
  
.gtbs_switch_field input[type="checkbox"]:checked+label {
    background-color: #570fdc;
}
  
.gtbs_switch_field input[type="checkbox"]:checked+label .gtbs_switch_icon {
    left: 22px;
}
  
.gtbs_switch_field input[type="checkbox"]:checked+label .gtbs_icon_on {
    display: block;
    fill: #570fdc;
    stroke-width: 2px;
    stroke: #570fdc;
}
  
.gtbs_switch_field input[type="checkbox"]:checked+label .gtbs_icon_off {
    display: none;
}
  
/*--------------------------- End Switch Field ---------------------------*/

/*--------------------------- Radio Field ---------------------------*/

.gtbs_radio_field table tr th ,
.gtbs_radio_field table tr td{
    border-bottom: 1px dashed #eee;
}

.gtbs_radio_field table th small{
    display: block;
    font-weight: normal;
    color: #9e9e9e;
}

.gtbs_radio_field .gtbs_image_control {
    display: inline-block;
}

.gtbs_radio_field .gtbs_image_control input {
    display: none;
}

.gtbs_radio_field .gtbs_image_control label {
    position: relative;
    display: inline-block;
    border: 2px solid #e5e5e5;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    background: #fff;
    margin: 0 30px 30px 0;
    padding: 5px;
    transition: all ease 0.1s;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size: smaller;
    color: #9E9E9E;
    font-weight: 600;
}

.gtbs_radio_field .gtbs_image_control label img {
    display: block;
    margin-bottom: 3px;
}

.gtbs_radio_field .gtbs_image_control input:checked + label {
    border: 2px solid #03A9F4;
    box-shadow: 0 0 5px rgb(0 57 84 / 60%);
}

/*--------------------------- End Radio Field ---------------------------*/

/*--------------------------- Number Field ---------------------------*/

.gtbs_number_field .gtbs_number_wrap {
    display: flex;
    align-items: center;
}

.gtbs_input, .gtbs_select{
    width: 350px;
    height: 35px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.gtbs_number_field {
    display: flex;
}
  
.gtbs_input-with-unit select:disabled {
    background-color: #f3f4f6;
    color: #9ca3af;
    cursor: not-allowed;
    opacity: 0.6;
}

.gtbs_unit_text {
    background-color: #f3f4f6;
    color: #6b7280;
    padding: 8px 12px;
    border-left: 1px solid #d1d5db;
    font-size: 14px;
    display: inline-block;
    min-width: 80px;
    text-align: center;
    font-weight: 700;
    border-radius: 0 5px 5px 0;
  
} 

/*--------------------------- End Number Field ---------------------------*/

/*--------------------------- Pro Version ---------------------------*/

.gtbs_pro_message {
    color: #c9356e;
}
  
/*--------------------------- End Pro Version ---------------------------*/

/*--------------------------- Slides Field ---------------------------*/

ul.gtbs_slides {
    display: flex;
    flex-wrap: wrap;
}

ul.gtbs_slides li {
    position: relative;
    display: inline-block;
    border: 2px solid #e5e5e5;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    background: #fff;
    margin: 0 20px 20px 0;
    transition: all ease 0.1s;
    overflow: hidden;
}

ul.gtbs_slides li img {
    height: 250px;
    object-fit: cover;
}

ul.gtbs_slides li:before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid #ffffff;
    position: absolute;
}

li.gtbs_slide_actions {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 5px;
    background: rgba(25, 82, 140, 0.72);
    text-align: center;
    padding: 35px 5px;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
}

ul.gtbs_slides li .gtbs_slide_actions {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 5px;
    background: rgba(25, 82, 140, 0.72);
    text-align: center;
    padding: 55px 5px;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

ul.gtbs_slides li:hover .gtbs_slide_actions, ul.gtbs_slides li .gtbs_slide_actions a:hover span {
    opacity: 1;
    visibility: visible;
}

.gtbs_slide_actions a {
    text-decoration: none;
}

.gtbs_slide_actions a i {
    color: white;
    font-size: 2.2em;
    padding: 0px 10px;
}

ul.gtbs_slides li .gtbs_slide_actions a {
    display: inline-block;
    margin: 5px 10px;
    position: relative;
}

ul.gtbs_slides li .gtbs_slide_actions a span {
    position: absolute;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    display: block;
    min-width: 70px;
    top: calc( 100% + 15px);
    left: -17px;
    padding: 5px;
    background: #1B2A40;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
}

ul.gtbs_slides li .gtbs_slide_actions a span:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #1b2a40 transparent;
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/*--------------------------- End Slides Field ---------------------------*/

/*--------------------------- Slider Settings ---------------------------*/

.gtbs_slide_placeholder {
    width:250px;
    height:250px;
    display:flex;
    align-items:center;
    justify-content:center;
    background:#f6f7f7;
    color:#555;
}

.gtbs_slide_placeholder span {
    font-size: 28px;
}

.gtbs_add_slide_message {
    padding: 10px; 
    background:rgb(231, 205, 255); 
    border-left: 4px solid rgb(81, 7, 255); 
    color:rgb(60, 4, 133); 
    margin: 10px 0;
}

/*--------------------------- End Slider Settings ---------------------------*/