/*--------------------------- Arrow Style ---------------------------*/

.slst-swiper.swiper-vertical .swiper-button-next,
.slst-swiper.swiper-vertical .swiper-button-prev {
    left: 50%;
    right: auto;
    transform: translateX(-50%);
}

.slst-swiper.swiper-vertical .swiper-button-prev {
    top: 10px;
    bottom: auto;
}

.slst-swiper.swiper-vertical .swiper-button-next {
    top: auto;
    bottom: 10px;
}

/* === Style 1 === */
.slst-swiper-arrow-style1 .swiper-button-next:after,
.slst-swiper-arrow-style1 .swiper-button-prev:after {
    font-size: inherit;
    opacity: unset;
}

/* === Style 2 === */
.slst-swiper-arrow-style2 .swiper-button-next,
.slst-swiper-arrow-style2 .swiper-button-prev {
    border: 2px solid #555;
    border-radius: inherit;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: unset;
}

.slst-swiper-arrow-style2 .swiper-button-next:after,
.slst-swiper-arrow-style2 .swiper-button-prev:after {
    font-size: inherit;
}

/* === Style 3 === */
.slst-swiper-arrow-style3 {
    position: relative;
}

.slst-swiper-arrow-style3 .swiper-button-prev,
.slst-swiper-arrow-style3 .swiper-button-next {
    position: absolute;
    top: -1px;
    bottom: 0;
    width: 50px;
    height: auto;
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    transition: background-color 0.3s ease, color 0.3s ease;
    z-index: 10;
    margin: 0;
    font-size: inherit;
    cursor: pointer;
}

.slst-swiper-arrow-style3 .swiper-button-prev {
    left: 0;
}

.slst-swiper-arrow-style3 .swiper-button-next {
    right: 0;
}

.slst-swiper-arrow-style3 .swiper-button-prev:after,
.slst-swiper-arrow-style3 .swiper-button-next:after {
    font-size: inherit;
}

/* === Style 3 Vertical Mode === */
.slst-swiper.swiper-vertical.slst-swiper-arrow-style3 .swiper-button-prev,
.slst-swiper.swiper-vertical.slst-swiper-arrow-style3 .swiper-button-next {
    width: 100%;
    height: 9%;
    left: 50%;
    right: 0;
}

.slst-swiper.swiper-vertical.slst-swiper-arrow-style3 .swiper-button-prev {
    top: 0;
    bottom: auto;
}

.slst-swiper.swiper-vertical.slst-swiper-arrow-style3 .swiper-button-next {
    top: auto;
    bottom: 0;
}


/* === Style 4 === */
.slst-swiper-arrow-style4 .swiper-button-next,
.slst-swiper-arrow-style4 .swiper-button-prev {
    width: 40px;
    height: 40px;
    color: #ffffff;
    border: 2px solid #80b3d9;
    border-radius: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    line-height: 1;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
}

.slst-swiper-arrow-style4 .swiper-button-next::after,
.slst-swiper-arrow-style4 .swiper-button-prev::after {
    font-size: inherit;
    content: '\27A1';
    display: block;
}

.slst-swiper-arrow-style4 .swiper-button-prev::after {
    content: '\2B05';
}

.slst-swiper-arrow-style4 .swiper-button-next:hover,
.slst-swiper-arrow-style4 .swiper-button-prev:hover {
    color: #ffffff;
    border-color: #ffffff;
}

/* === Style 4 Vertical Mode === */
.slst-swiper.swiper-vertical.slst-swiper-arrow-style4 .swiper-button-prev::after {
    content: '\2B06';
}

.slst-swiper.swiper-vertical.slst-swiper-arrow-style4 .swiper-button-next::after {
    content: '\2B07';
}


/* === Style 5 === */
.slst-swiper-arrow-style5 .swiper-button-next,
.slst-swiper-arrow-style5 .swiper-button-prev {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    border: none;
    font-size: inherit;
    color: #000;
    opacity: 1;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.slst-swiper-arrow-style5 .swiper-button-prev::after,
.slst-swiper-arrow-style5 .swiper-button-next::after {
    font-weight: bold;
    font-size: inherit;
}

.slst-swiper-arrow-style5 .swiper-button-prev::after {
    content: '\2190';
}

.slst-swiper-arrow-style5 .swiper-button-next::after {
    content: '\2192';
}

.slst-swiper-arrow-style5 .swiper-button-prev:hover,
.slst-swiper-arrow-style5 .swiper-button-next:hover {
    color: #333;
}

/* === Style 5 Vertical Mode === */
.slst-swiper.swiper-vertical.slst-swiper-arrow-style5 .swiper-button-prev::after {
    content: '\2191';
}

.slst-swiper.swiper-vertical.slst-swiper-arrow-style5 .swiper-button-next::after {
    content: '\2193';
}

/* === Custom Arrow === */
.slst-swiper-arrow-custom .swiper-button-next,
.slst-swiper-arrow-custom .swiper-button-prev {
    border: 2px solid #fff;
    border-radius: inherit;
    width: 33px;
    height: 33px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slst-swiper-arrow-custom .swiper-button-next:after,
.slst-swiper-arrow-custom .swiper-button-prev:after {
    font-size: inherit;
}

/*--------------------------- End Arrow Style ---------------------------*/

/*--------------------------- Dot Pagination Style ---------------------------*/

.slst-swiper *:focus {
    outline-width: 2px;
    outline-style: none;
}

/* === Style 1  === */
.slst-swiper-dot-style1 .swiper-pagination-bullet {
    background: transparent;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 1;
}

.slst-swiper-dot-style1 .swiper-pagination-bullet-active {
    background: #fff;
}

/* === Style 2 === */
.slst-swiper-dot-style2 .swiper-pagination-bullet {
    background: transparent;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
    border-radius: 0;
    opacity: 1;
}

.slst-swiper-dot-style2 .swiper-pagination-bullet-active {
    background: #fff;
}

/* === Style 3 === */
.slst-swiper-dot-style3 .swiper-pagination-bullet {
    background: #999;
    border-radius: 0;
    width: 20px;
    height: 4px;
    opacity: 0.6;
}

.slst-swiper-dot-style3 .swiper-pagination-bullet-active {
    background: #fff;
    opacity: 1;
}

/* === Style 4 === */
.slst-swiper-dot-style4 .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 4px;
    transition: all 0.3s ease;
    background: transparent;
    border: 2px solid #fff;
    opacity: 0.8;
}

.slst-swiper-dot-style4 .swiper-pagination-bullet-active {
    width: 28px;
    border-radius: 999px;
    background: #fff;
    opacity: 1;
}

/*--------------------------- End Dot Pagination Style ---------------------------*/

/*--------------------------- Grab Cursor ---------------------------*/

.slst-swiper-grab-cursor {
    cursor: grab;
}

.slst-swiper-grab-cursor:active {
    cursor: grabbing;
}

/*--------------------------- End Grab Cursor ---------------------------*/

/*--------------------------- Progress Bar ---------------------------*/

.slst-progress-top .swiper-pagination-progressbar {
    top: 0;
    bottom: auto !important;
    z-index: 99;
    height: 6px !important;
}

.slst-progress-bottom .swiper-pagination-progressbar {
    bottom: 0;
    top: auto !important;
    z-index: 99;
    height: 6px !important;
}

.slst-progress-left .swiper-pagination-progressbar {
    left: 0;
    top: 0;
    bottom: 0;
    right: auto;
    z-index: 99;
    width: 6px;
}

.slst-progress-right .swiper-pagination-progressbar {
    right: 0;
    top: 0;
    bottom: 0;
    left: auto;
    width: 6px;
    z-index: 99;
}

.slst-progressbar-fill {
    width: 100%;
    height: 100%;
}

/*--------------------------- End Progress Bar ---------------------------*/

/*--------------------------- Autoplay Porgress ---------------------------*/

.slst-swiper .autoplay-progress {
    position: absolute;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

.slst-swiper .slst-timeleft-top-left {
    top: 16px;
    left: 16px;
}

.slst-swiper .slst-timeleft-top-right {
    top: 16px;
    right: 16px;
}

.slst-swiper .slst-timeleft-bottom-left {
    bottom: 16px;
    left: 16px;
}

.slst-swiper .slst-timeleft-bottom-right {
    bottom: 16px;
    right: 16px;
}

.slst-swiper .autoplay-progress svg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    fill: none;
    stroke-dashoffset: calc(125.6px * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
}

/*--------------------------- End Autoplay Porgress ---------------------------*/

/*--------------------------- Scrollbar Control ---------------------------*/

.slst-scrollbar.swiper-scrollbar {
    background-color: #fff;
    height: 8px;
    border-radius: 4px;
}

.slst-scrollbar-drag.swiper-scrollbar-drag {
    background: #999999;
    border-radius: 4px;
    cursor: pointer;
}

.slst-scrollbar-wrapper {
    margin-top: 10px;
}

.slst-scrollbar-top .swiper-scrollbar {
    top: 0 !important;
    bottom: auto !important;
    margin-top: 0;
    margin-bottom: 0;
}

.slst-scrollbar-left .swiper-scrollbar {
    left: 0 !important;
    right: auto !important;
}

.slst-scrollbar-right .swiper-scrollbar {
    right: 0 !important;
    left: auto !important;
}

.slst-scrollbar-left .swiper-scrollbar-drag,
.slst-scrollbar-right .swiper-scrollbar-drag {
    width: 100%;
}

/*--------------------------- End Scrollbar Control ---------------------------*/

/*--------------------------- RTL ---------------------------*/

.slst-swiper[dir="rtl"] .swiper-button-next {
    left: 0;
    right: auto;
}

.slst-swiper[dir="rtl"] .swiper-button-prev {
    right: 0;
    left: auto;
}

/*--------------------------- End RTL ---------------------------*/

/*--------------------------- Thumbs Gallery ---------------------------*/

.slst-swiper-thumbs-gallery {
    overflow: hidden;
}

.slst-swiper-thumbs-gallery .swiper-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0;
}

.slst-swiper-thumbs-gallery .swiper-slide {
    opacity: 0.5;
    border: 2px solid transparent;
    width: auto !important;
    height: auto !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: border 0.2s, opacity 0.2s;
    box-sizing: border-box;
}

.slst-swiper-thumbs-gallery .swiper-slide-thumb-active {
    opacity: 1;
}

.slst-swiper-thumbs-gallery img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    margin-top: 10px;
}

/*--------------------------- End Thumbs Gallery ---------------------------*/

/*--------------------------- Effect Fraction ---------------------------*/

.slst-swiper .slst-fraction-top-left {
    position: absolute;
    top: 10px;
    left: 10px;
    text-align: left;
}

.slst-swiper .slst-fraction-top-right {
    position: absolute;
    top: 10px;
    right: 10px;
    text-align: right;
}

.slst-swiper .slst-fraction-bottom-left {
    position: absolute;
    bottom: 10px;
    left: 10px;
    text-align: left;
}

.slst-swiper .slst-fraction-bottom-right {
    position: absolute;
    bottom: 10px;
    right: 10px;
    text-align: right;
}

/*--------------------------- End Effect Fraction ---------------------------*/

/* --------------------------- Custom Pagination Style --------------------------- */

.slst-pagination-custom.slst-swiper-custom-style1 .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    font-size: var(--slst-custom-font-size, 14px);
    color: var(--slst-custom-active-text-color, #0a0607);
    opacity: 1;
    background: var(--slst-custom-active-bg-color, #0a0607);
}

.slst-pagination-custom.slst-swiper-custom-style1 .swiper-pagination-bullet-active {
    color: var(--slst-custom-text-color, #ff0000);
    background: var(--slst-custom-bg-color, #007aff);
}

/*--------------------------- End Custom Pagination Style ---------------------------*/

/*--------------------------- Slide Content Layout ---------------------------*/

.slst-swiper .swiper-zoom-container {
    width: auto !important;
    height: auto !important;
    display: block !important;
    justify-content: unset !important;
    align-items: unset !important;
    text-align: left !important;
    flex-direction: unset !important;
}

/*--------------------------- End Slide Content Layout ---------------------------*/