/*--------------------------- Switch Field ---------------------------*/

.wpss_switch_field {
    display: inline-flex;
    align-items: center;
    position: relative;
    width: 44px;
    height: 24px;
}

.wpss_switch_field input[type="checkbox"] {
    opacity: 0;
    width: 0;
    height: 0;
    position: absolute;
}

.wpss_switch_field label {
    background-color: #e2e8f0;
    border-radius: 30px;
    display: inline-block;
    width: 100%;
    height: 100%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}

.wpss_switch_icon {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: left 0.3s ease;
    z-index: 2;
}

.wpss_switch_icon svg {
    width: 12px;
    height: 12px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.wpss_switch_icon .wpss_icon_on {
    display: none;
}

.wpss_switch_icon .wpss_icon_off {
    display: block;
    fill: #64748b;
    stroke-width: 2px;
    stroke: #64748b;
}

.wpss_switch_field input[type="checkbox"]:checked+label {
    background-color: #570fdc;
}

.wpss_switch_field input[type="checkbox"]:checked+label .wpss_switch_icon {
    left: 22px;
}

.wpss_switch_field input[type="checkbox"]:checked+label .wpss_icon_on {
    display: block;
    fill: #570fdc;
    stroke-width: 2px;
    stroke: #570fdc;
}

.wpss_switch_field input[type="checkbox"]:checked+label .wpss_icon_off {
    display: none;
}

/*--------------------------- End Switch Field ---------------------------*/

/*--------------------------- Radio Field ---------------------------*/

.wpss_radio_field table tr th,
.wpss_radio_field table tr td {
    border-bottom: 1px dashed #eee;
}

.wpss_radio_field table th small {
    display: block;
    font-weight: normal;
    color: #9e9e9e;
}

.wpss_radio_field .wpss_image_control {
    display: inline-block;
}

.wpss_radio_field .wpss_image_control input {
    display: none;
}

.wpss_radio_field .wpss_image_control label {
    position: relative;
    display: inline-block;
    border: 2px solid #e5e5e5;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    background: #fff;
    margin: 0 30px 30px 0;
    padding: 5px;
    transition: all ease 0.1s;
    border-radius: 3px;
    text-align: center;
    text-transform: uppercase;
    font-size: smaller;
    color: #9E9E9E;
    font-weight: 600;
}

.wpss_radio_field .wpss_image_control label img {
    display: block;
    margin-bottom: 3px;
}

.wpss_radio_field .wpss_image_control input:checked+label {
    border: 2px solid #5480b3;
    box-shadow: 0 0 5px rgb(0 57 84 / 60%);
}

/*--------------------------- End Radio Field ---------------------------*/

/*--------------------------- Number Field ---------------------------*/

.wpss_number_field .wpss_number_wrap {
    display: flex;
    align-items: center;
}

.wpss_input,
.wpss_select {
    width: 350px;
    height: 35px;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.wpss_number_field {
    display: flex;
}

.wpss_unit_text {
    background-color: #f3f4f6;
    color: #6b7280;
    padding: 8px 12px;
    border-left: 2px solid #d1d5db;
    font-size: 14px;
    display: inline-block;
    min-width: 50px;
    text-align: center;
    font-weight: 700;
    border-radius: 0 5px 5px 0;
}

.wpss_number_field .wpss_number_wrap select {
    width: 70px;
}

/*--------------------------- End Number Field ---------------------------*/

/*--------------------------- Textarea Field ---------------------------*/

.wpss-textarea-wrapper {
    position: relative;
    display: flex;
    background: #ffffff;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    max-width: 60%;
    width: 60%;
}

.wpss-line-numbers {
    width: 25px;
    background: #f8f8f8;
    border-right: 1px solid #e0e0e0;
    padding: 10px 5px;
    color: #999;
    font-size: 13px;
    line-height: 1.5;
    text-align: right;
    user-select: none;
    font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
    flex-shrink: 0;
}

.wpss-line-numbers span {
    display: block;
    min-height: 19.5px;
}

.wpss_custom_textarea {
    width: 100%;
    height: 40%;
    font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
    padding: 10px;
    border: none;
    border-color: transparent;
    border-radius: 0;
    background: #ffffff;
    color: #333;
    font-size: 13px;
    line-height: 1.5;
    resize: vertical;
    outline: none;
    box-shadow: none;
}

.wpss_custom_textarea:focus {
    outline: none;
    outline-offset: none;
    border: none;
    border-color: transparent;
    box-shadow: none;
}

/*--------------------------- End Textarea Field ---------------------------*/

/*--------------------------- Pro Version ---------------------------*/

.wpss_pro_message {
    color: #c9356e;
}

/*--------------------------- End Pro Version ---------------------------*/

/*--------------------------- Slides Field ---------------------------*/

ul.wpss_slides {
    display: flex;
    flex-wrap: wrap;
}

ul.wpss_slides li {
    position: relative;
    display: inline-block;
    border: 2px solid #e5e5e5;
    box-shadow: 0 1px 1px rgb(0 0 0 / 4%);
    background: #fff;
    margin: 0 20px 20px 0;
    transition: all ease 0.1s;
    overflow: hidden;
}

ul.wpss_slides li img {
    height: 250px;
    object-fit: cover;
}

ul.wpss_slides li:before {
    content: '';
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 5px solid #ffffff;
    position: absolute;
}

li.wpss_slide_actions {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 5px;
    background: rgba(25, 82, 140, 0.72);
    text-align: center;
    padding: 35px 5px;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
}

ul.wpss_slides li .wpss_slide_actions {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 5px;
    top: 5px;
    background: rgba(25, 82, 140, 0.72);
    text-align: center;
    padding: 55px 5px;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

ul.wpss_slides li:hover .wpss_slide_actions,
ul.wpss_slides li .wpss_slide_actions a:hover span {
    opacity: 1;
    visibility: visible;
}

.wpss_slide_actions a {
    text-decoration: none;
}

.wpss_slide_actions a i {
    color: white;
    font-size: 2.2em;
    padding: 0px 10px;
}

ul.wpss_slides li .wpss_slide_actions a {
    display: inline-block;
    margin: 5px 10px;
    position: relative;
}

ul.wpss_slides li .wpss_slide_actions a span {
    position: absolute;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    display: block;
    min-width: 70px;
    top: calc(100% + 15px);
    left: -17px;
    padding: 5px;
    background: #1B2A40;
    opacity: 0;
    visibility: hidden;
    transition: all ease 0.3s;
}

ul.wpss_slides li .wpss_slide_actions a span:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 5px 5px;
    border-color: transparent transparent #1b2a40 transparent;
    position: absolute;
    top: -5px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

/*--------------------------- End Slides Field ---------------------------*/

/*--------------------------- Slider Settings ---------------------------*/

.wpss_slide_placeholder {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f6f7f7;
    color: #555;
}

.wpss_slide_placeholder span {
    font-size: 28px;
}

.wpss_add_slide_message {
    padding: 15px;
    background: rgb(231, 205, 255);
    border-left: 4px solid rgb(81, 7, 255);
    color: rgb(60, 4, 133);
    margin: 10px 0;
}

/*--------------------------- End Slider Settings ---------------------------*/

#wpss_live_preview_container {
    position: relative;
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}

#wpss_live_preview_container .wpss-slide-content ul {
    list-style: disc !important;
    margin: 1em 0 1em 2em !important;
}

#wpss_live_preview_container .wpss-slide-content ol {
    list-style: decimal !important;
    margin: 1em 0 1em 2em !important;
}

#wpss_live_preview_container .wpss-slide-content li {
    margin-bottom: 0.5em !important;
    display: list-item !important;
}

#wpss_live_preview_container .wpss-slide-content p {
    margin: 1em 0 !important;
    font-size: 20px;
}

#wpss_live_preview_container h2.has-background {
    padding: 20px;
}

/*--------------------------- No Slides Preview Msg ---------------------------*/

.wpss_no_slides_preview p {
    margin: 0 !important;
    font-size: 14px;
}